# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Visual Micro/Upload.vmps.xml
Visual Micro/Configuration.Release.vmps.xml
Visual Micro/Configuration.Debug.vmps.xml
Visual Micro/Compile.vmps.xml
Visual Micro/.prod_Sarah_Mother.vsarduino.h
Release/prod_Sarah_Mother.log
Release/prod_Sarah_Mother.lastbuildstate
prod_Sarah_Mother.vcxproj.user
*.filters
prod_Sarah_Mother.vcxproj
*.suo
prod_Sarah_Mother.sln
prod_Sarah_Mother.sdf
